.header {
    background-color: #f5f5f9;
    margin-bottom   : 90px;

    &__inner {
        max-width: 1245px;
        @include flex;
        flex-wrap: wrap;
        padding  : 22px 40px 22px 40px;
        margin   : 0 auto
    }

    &__logo {
        @include flex;
        max-width: 140px;
    }

    &__img {
        margin-right: 20px;
    }

    &__title {
        font-family   : $bold, sans-serif;
        color         : #48494d;
        font-size     : 18px;
        font-weight   : 700;
        letter-spacing: 2.34px;
        @include m0p0
    }

    &__title--moto {
        font-family   : $semi-bold, sans-serif;
        display       : block;
        font-size     : 14px;
        font-weight   : 600;
        letter-spacing: 1.82px;
    }

    &__nav {
        font-family: $semi-bold, sans-serif;
        font-weight: 600;
        font-size  : 16px;
        line-height: 22px;
        color      : #48494D;
        @include flex;
        flex-wrap      : wrap;
        justify-content: flex-start;
    }

    &__nav-item {
        margin-right: 68px;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }


}