.header {
    padding: 50px;

    &__inner {
        max-width       : 1170px;
        height          : 300px;
        background-color: darkgray;
        margin          : 0 auto;
        border-radius   : 10px;

    }

    &__title {
        @include m0p0;
        font-size  : 135px;
        text-align : center;
        color      : antiquewhite;
        padding-top: 54px;
    }
}